@font-face {
    font-family: "bungeeshade-regular";
    src: url(fonts/BungeeShade-Regular.ttf);

}

@font-face {
    font-family: "bungeeoutline-regular";
    src: url(fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: "barlow-condesed";
    src: url("fonts/BarlowCondensed-Black.ttf");
}

@font-face {
    font-family: "barlow-semi-condesed";
    src: url(fonts/BarlowSemiCondensed-Black.ttf);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


body {
    background-image: url(image/417001a39fe6f926bc770a0e58859064.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;



    display: flex;
    justify-content: center;


}

/*största containern*/
.main-wrap {
    background-color: rgba(192, 192, 192, 0.3);
    padding: 20px;
    border-radius: 1rem;
    margin: 150px;
    height: 100%;
    max-width: 1200px;


}

/*rubriker och texter*/
.main-wrap h1 {
    font-family: "bungeeshade-regular";
    font-size: 40px;
    margin: 0px 10px;
}

main h2 {
    font-family: "bungeeoutline-regular";
    font-size: 30px;
}

main h3 {
    font-size: 22px;
    margin: -20px 0px 30px;

}

main p {
    font-size: 14px;
}

main #indentation {
    margin-left: 40px
}





/*navigation-baren och menyerna*/
#nav-container {
    display: flex;
    gap: 10px;
    margin: 0 10px;
    margin-bottom: 65px;
}

nav a {
    background-color: grey;
    padding: 17px;
    flex-grow: 1;
    flex-basis: 0;


    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 15px;

    border-radius: 1rem;
}

nav a:hover {
    background-color: rgb(255, 0, 0, 0.2);
}

nav a:nth-child(2) {
    pointer-events: none;
    border: 2px solid white;
}

/*huvud-containern med allt huvudinnehåll*/

main .small-wrap {
    background-color: rgba(215, 53, 177, 0.2);
    height: 45rem;
    max-width: 1200px;
    padding: 0 10px;
    border-radius: 1rem;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 400px;
    gap: 3px;



}



/*front and back img:s with hover*/
.hover-animation {
    position: relative;
    grid-column: 2;
    margin: 10px;

}

.hover-animation img {
    position: absolute;
    height: 100%;
    width: 104%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    right: -9px;
}


.hover-animation img.front-img:hover {
    display: none;
}


/*Boxar med innehåll*/
section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
    position: relative;


}

/*skapar varje box*/
section div {
    background-color: rgb(214, 115, 134);
    height: 9.5rem;
    width: 11rem;
    border-radius: 2px;
    padding: 15px 0px;

    margin-bottom: 8px;

}



main section div:nth-child(1) {
    grid-column: 7;
    grid-row: 1;
    border-radius: 0px 0px 20px 0px;
}


main section div:nth-child(2) {
    grid-column: 6;
    grid-row: 1;
    border-radius: 0px 0px 0px 20px;
}


/*lista i boxerna*/
section p {
    position: relative;
    left: 13px;
}

section ol li {
    font-size: 12px;
    position: relative;
    left: 25px;
}




main .second-section {

    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    gap: 5px;
}



main .second-section div:nth-child(1) {
    grid-column: 1;
    border-radius: 20px 0px 20px 20px;



}

main .second-section div:nth-child(2) {
    grid-column: 3;
    width: 100%;
    border-radius: 20px 20px 20px 0px;


}

main .second-section div:nth-child(3) {
    grid-column: 4;
    border-radius: 0px 20px 20px 20px;


}


main .second-section div:nth-child(4) {
    grid-column: 5;

}